body {
    text-align:center;
    font-family: 'Courier New', Courier, monospace
  
  }
  .opening {
    border: 5px outset black;
    background-color: lavender;
    
  }
  
  .proposal {
    border: 5px outset black;
    background-color: lightcoral;
    
  
  }
   
  
  .schedule {
    Text-align:center;
    border: 5px outset black;
    background-color: lightyellow;
  
  }
   
  table, td {
    border: 1px solid black;

  }
  text-align: center;

  .table2 {
   
    border: 5px outset black;
    background-color: lavender;

  }
}